nav.sidebar#sidebar
  section._menu
    ul
      li._item
        i.icon-home 
        |My Timeline

  if (favorite_blocks)  
    section.menu
      .menu__topbar
        ._title Lists
        |&nbsp;
        //- ._control.js-new-list + New List
        button.btn-quiet.js-new-list
          |<b>+</b>&nbsp;New List
      ul.js-sortable
        for favorite_block in favorite_blocks
          li.menu__item.js-favorite-block
            a._name(href="/_my/#{favorite_block._id}", data-block="#{favorite_block._id}") #{favorite_block._id}
            span._count.js-count <i>#{favorite_block.user_count}</i> | #{favorite_block.total_count}