nav.sidebar#sidebar
  section.menu
    ul 
      if (user)
        li.menu__item
          a(href='/')
            div
              i.icon-home 
              | Timeline
      li.menu__item
        a(href='/popular')
          div
            i.icon-group
            |  Popular
  if (favorite_blocks)  
    div.new-list
      button.btn-quiet.js-new-list
        mixpanel.track("Video play");
        |<b>+</b>&nbsp;New List
    section.menu
      .menu__topbar
        .icons
          i.icon-user(title="Number of Your Links") &nbsp;
          span &bull;&nbsp;
          i.icon-globe(title="Number of Public Links")
        ._title Lists
        |&nbsp;


        //- ._control.js-new-list + New List
      ul.js-sortable
        for favorite_block in favorite_blocks
          li.menu__item.js-favorite-block
            a._name(href="/public/#{favorite_block._id}", data-block="#{favorite_block._id}")
              div
                |#{favorite_block._id}
                ._count.js-count 
                  span.public-link(href='javascript:null',data-href="/#{user.username}/#{favorite_block._id}") #{favorite_block.user_count} 
                  span &bull; 
                  span.public-link(href='javascript:null',data-href="/public/#{favorite_block._id}") #{favorite_block.total_count}
