extends layouts/default


block content
	nav.sidebar
		section._menu
			ul
				li._item
					i.icon-home 
					|Home

		section._menu
			._sectitle Lists
			ul
				li._item Fainting Goats
				li._item Strange Religions
				li._item Boring Songs

	main.main-info
		h1 Home
		.timeline
			._divider
				|Today
			for result in results
				.hypermark(data-date_added="#{result.date_added}")
					a._link(href="#{result.url}") #{result.title}
					._sani-url #{result.sani_url}
					._excerpt #{result.excerpt}
