extends layouts/default


block content

  main.page#results
    .page__topbar 
      h1._title#page-title #{title}&nbsp;
      if (private)
        span (#{block_counts.my})
      else
        span (#{block_counts.total})
      if (private)
        a.js-delete-list.delete(href='javascript:null;') delete
      //- if (typeof page_vars.block === 'string')
      //-   a.js-delete-list._delete_list#delete-list(data-listname=page_vars.block href="javscript:null;") delete
      |&nbsp;



    .results
      .results__topbar
        if (!hide_add && user)
          button.btn-quiet.js-add-link
            |<b>+</b>&nbsp;Add Link
        else
          a(href="/_auth/login")
            button.btn-quiet
              |Login to add link
        if (private && user)
          .list-link.float-right
            span(href="/#{user.username}/#{block}") 
                i.icon-user&nbsp;
                |Me (#{block_counts.my})
            &nbsp;/&nbsp;
            a(href="/public/#{block}") 
              i.icon-globe&nbsp;
              |Public (#{block_counts.total})
        else if (user)
          .list-link.float-right
            if (!privateBlock)
              button.btn-quiet.copy-list(data-list="#{block}")
                i.icon-eye-open
                |&nbsp;Follow List
            else
              a(href="/#{user.username}/#{block}") 
                i.icon-user&nbsp;
                | Me (#{block_counts.my})
            &nbsp;/&nbsp;
            span(href="/public/#{block}") 
              i.icon-globe&nbsp;
              |Public (#{block_counts.total})  
        else
          .list-link.float-right
            span(href="/public/#{block}") 
              i.icon-globe&nbsp;
              |Public (#{block_counts.total}) 
      






      if results
        //if results[0]
        //p=JSON.stringify(results[0])
        if results.length==0
          artile.hypermark
            .hypermark__content
              .hypermark__card
                
                if (private)
                  p 
                    | You have no links in 
                    b 
                     |#{block} 
                    |.
                  p
                    | Check out the 
                    a(href="/public/#{block}")
                      | public version
                    |  or 
                    if (user)
                      a.js-add-link(href="#") 
                       | add your own link.
                else
                  p
                   | No one has added to this public list.
                  if (user)
                    p
                      | Be the first to 
                      a.js-add-link(href="#") 
                         | add your own link.
                  else
                    p
                      a.js-add-link(href="/_auth/login") 
                         | login 
                      | or 
                      a.js-add-link(href="/_auth/signup") 
                        | signup 
                      |  to add your own link.

        for result in results
          article.hypermark(data-date_added="#{result.date_added}", data-_id="#{result._id}", data-address_id="#{result._address._id}")

            .hypermark__control.-left.js-add-to-list
              if (user)
                i.icon-plus(title="Add to your lists")
            .hypermark__content
              .hypermark__card
                if (!private)
                  .float-right
                    span.dropdown.js-dropdown
                      if (result.allBlocks.length>1)
                        span.users
                          a(href='#', data-dropdown='#dropdown-group'+result._id)
                            i.icon-list
                              | Lists
                          ul
                            for block_list_item in result.allBlocks
                              if (block_list_item!==block.toLowerCase())
                                li
                                  a(href="/public/#{block_list_item}")=block_list_item
                        ||
                              
                    span.dropdown.js-dropdown
                      span.users
                        a(href='#', data-dropdown='#dropdown-'+result._id)
                          i.icon-user
                            if user && String(user._id)===String(result.allPosters[0]._id)
                              | Me
                            else
                              |#{result.allPosters[0].username}

                        ul
                          li._header
                            a(href="/#{result.firstPoster.username}")
                              if user && String(user._id)===String(result.firstPoster._id)
                                | Me
                              else
                                |#{result.firstPoster.username}

                              |  (First Poster)   
                          for allPoster in result.allPosters
                            if result.firstPoster._id!==allPoster._id                     
                              li
                                a(href="/#{allPoster.username}")=allPoster.username
                                if user && String(user._id)===String(allPoster._id)
                                  span
                                    |  *               

                    span
                      |   #{result.allPosters.length}
                      if result.current_user_posted
                        | *

    
                a.hypermark__link(href="#{result._address.working_url}") #{result._address.title}
                .hypermark__sani-url #{result._address.sani_url}

             

            if (private)
              .hypermark__control.-right.js-delete
                i.icon-trash


               