extends layouts/default


block content

  main.page#results
    .page__topbar 
      h1._title#page-title #{title}&nbsp;
      if (private)
        span (#{block_counts.my})
      else
        span (#{block_counts.total})
      if (private)
        a.js-delete-list.delete(href='javascript:null;') delete
      //- if (typeof page_vars.block === 'string')
      //-   a.js-delete-list._delete_list#delete-list(data-listname=page_vars.block href="javscript:null;") delete
      |&nbsp;



    .results
      .results__topbar
        if (!hide_add)
          button.btn-quiet.js-add-link
            |<b>+</b>&nbsp;Add Link
        if (private && user)
          .list-link.float-right
            span(href="/#{user.username}/#{block}") 
                i.icon-user&nbsp;
                |Yours (#{block_counts.my})
            &nbsp;/&nbsp;
            a(href="/public/#{block}") 
              i.icon-globe&nbsp;
              |Public (#{block_counts.total})
        else if (user)
          .list-link.float-right
            a(href="/#{user.username}/#{block}") 
              i.icon-user&nbsp;
              | Yours (#{block_counts.my})
            &nbsp;/&nbsp;
            span(href="/public/#{block}") 
              i.icon-globe&nbsp;
              |Public (#{block_counts.total})  
        else
          .list-link.float-right
            span(href="/public/#{block}") 
              i.icon-globe&nbsp;
              |Public (#{block_counts.total}) 
      






      if results 
        for result in results
          article.hypermark(data-date_added="#{result.date_added}", data-_id="#{result._id}")
            .hypermark__control.-left.js-add-to-list
              i.icon-double-angle-left
            .hypermark__content
              .hypermark__card
                if (!private)
                  .dropdown.js-dropdown.-right 
                    span.users
                      a(href='#', data-dropdown='#dropdown-'+result._id)
                        i.icon-user
                        |#{result.firstPoster.username} 
                      || #{result.allPosters.length}
                    ul
                      li._header
                        span(data-href="/#{result.firstPoster.username}/#{page_vars.block}")
                          |#{result.firstPoster.username} (First Poster)
                      for allPoster in result.allPosters
                        if result.firstPoster._id!==allPoster._id                        
                          li
                            span(data-href="/#{allPoster.username}/#{page_vars.block}")=allPoster.username   


    
                a.hypermark__link(href="#{result._address.working_url}") #{result._address.title}
                .hypermark__sani-url #{result._address.sani_url}

             

            if (private)
              .hypermark__control.-right.js-delete
                i.icon-trash


               