extends layouts/default


block content
  main.page#results
    .page__topbar 
      h1._title#page-title #{title}
      //- if (typeof page_vars.block === 'string')
      //-   a.js-delete-list._delete_list#delete-list(data-listname=page_vars.block href="javscript:null;") delete
      |&nbsp;

    .results
      .results__topbar
        if (!hide_add)
          button.btn-quiet.js-add-link
            |<b>+</b>&nbsp;Add Link

        if (block_counts.my && !private)
          .list-link.float-right
            i.icon-user&nbsp;
            a(href="/#{user.username}/#{block}") #{user.username}/#{block} (#{block_counts.my})

        if (block_counts.other && private)
          .list-link.float-right
            i.icon-globe&nbsp;
            a(href="/public/#{block}") public/#{block} (#{block_counts.total})

      if results 
        for result in results
          article.hypermark(data-date_added="#{result.date_added}", data-_id="#{result._id}")
            .hypermark__close.js-delete
              i.icon-remove

            a.hypermark__link(href="#{result._address.working_url}") #{result._address.title}
            .hypermark__sani-url #{result._address.sani_url}
            .hypermark__bottom-bar
              button.btn-quiet.js-add-to-list 
                i.icon-book
                |&nbsp;Clone to List
               