extends layouts/default


block content
  main.page
    .page__topbar 
      h1._title#page-title #{title}
      |&nbsp;

    .results#results
      .results__topbar

      if results && results.length
        for result in results
          article.hypermark
            a.hypermark__link(href="/_p/#{result.block}") #{result.block}

            ul
              for link in result.results
                li
                  a(href="#{link.working_url}") #{link.title}
