extends layouts/default


block content
  main.page
    .page__topbar 
      h1._title#page-title #{title}
      |&nbsp;

    .results#results

      if results && results.length
        for result in results
          article.hypermark
            a.hypermark__link(href="/public/#{result.block}") #{result.block} 


            ul
              for link in result.results
                li
                  a(href="#{link.working_url}") #{link.title}
            button.btn-quiet.copy-list(data-list="#{result.block} ")
              i.icon-book
              |&nbsp;Use This List