extends layouts/default


block content
  main.page
    ._topbar 
      h1._title#page-title #{title}
      |&nbsp;
      if (page === 'block')
        nav._control
          .btn-bar
            button.btn-quiet(class="#{visibility === 'private' ? '-active' : ''}")
              a(href="/_my/#{title}")
                i.icon-user
                |&nbsp;Mine
            button.btn-quiet(class="#{visibility === 'public' ? '-active' : ''}") 
              a(href="/#{title}")
                i.icon-globe
                |&nbsp;Public

    .results#results
      for result in results
        
        article.hypermark.js-drag(data-date_added="#{result.date_added}", data-_id="#{result._id}")
          form(style="float:right;", action="/_api/hypermarksRemove", method="post")
            input(value=result._id, name="_id", type="hidden")
            button.btn-quiet
              i.icon-remove

          a._link(href="#{result._address.working_url}") #{result._address.title}
          ._sani-url #{result._address.sani_url}
          ._excerpt 
            != truncate(result._address.content, 200)
          ._bottom-bar
            button.btn-quiet.js-add-to-list 
              i.icon-book
              |&nbsp;Move to List
             