extends layouts/default


block content
	main.page
		h1._page-title Home
		.timeline
			._divider
				|Today
			for result in results
				article.hypermark(data-date_added="#{result.date_added}")
					a._link(href="#{result.url}") #{result.title}
					._sani-url #{result.sani_url}
					._excerpt #{result.excerpt}